#top img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:60px;
}
nav{
  margin-left: 40px;
  position: relative;
}
nav ul{
  list-style: none;
  text-align: center;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  font-weight: bold;
  padding: 10px 0;
}
nav ul li{
  margin-top: auto;
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 10px;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{/*마우스를 올렸을 때*/
  text-decoration: underline;
  color: green;
}
footer{
  background: #242424;
  text-align: center;
  font-size: 10px;
  color: #909090;
  clear: both;
}

img {vertical-align: middle;}
#left {width:300px; display:inline;}
#left a {text-decoration: none; color: white;}
.material-icons {position:relative; top:7px; font-size:25px; }
#search {display:inline; float:right; position:relative; left:5px;}
#menudrop {display:inline;}

/* 메뉴 드롭다운 */
.sidenav {
	height:100%;
	width: 0;
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	background-color: rgb(168, 196, 161);
	overflow-x: hidden;
	transition:0.5s ease-in-out;
	padding-top: 60px;
}
.sidenav h1 {
	color:#ffffff;
	margin-left: 32px;
	font-size: 30px;
	font-family: 'Ibarra Real Nova', Neue;
	font-weight: lighter;
}
.sidenav hr{
	width:200px;
	margin-top:-18px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
	transition: 0.2s ease-in-out;
}
.sidenav a:hover, .offcanvas a:focus {
	color: #000;
}
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}
.openmenu:hover {
	color:rgb(0,154,200);
	transition:0.5s ease-in-out;
}
.openmenu {
	font-size: 25px;
	cursor:pointer;
	transition:0.5s ease-in-out;
}
.openmenu > i {
	font-size: 30px;
}
